.modal-wrapper {
  position: fixed;
  inset: 0;
}

.modal-wrapper.open {
  z-index: 10;
}

.modal-body {
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
  min-height: 100vh;
}

.modal-children {
  z-index: 9999;
  padding: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 100%;
  max-width: 56rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.default-closed {
  visibility: hidden;
  opacity: 0;
}

.default-overlay {
  opacity: 0;
}

.open-modal {
  animation: openModal 0.3s ease-out forwards;
}

.close-modal {
  animation: closeModal 0.3s ease-out forwards;
}

@keyframes openModal {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes closeModal {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

.close-overlay {
  animation: closeOverlay 0.3s ease-out forwards;
}

.open-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #000000a2;
  animation: openOverlay 0.3s ease-out forwards;
}

@keyframes openOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes closeOverlay {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
