@keyframes openDropdown {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  to {
    transform: translateY(10px);
    opacity: 1;
  }
}

@keyframes closeDropdown {
  from {
    transform: translateY(10px);
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 0;
  }
}

.open-dropdown {
  animation: openDropdown 0.3s ease-out forwards;
}

.dropdown-wrapper {
  position: absolute;
  right: 0;
  top: 2.5rem;
  z-index: 40;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-color: #b5f0f6;
}

.hidden {
  --transform-scale-x: 0;
  --transform-scale-y: 0;
  display: none;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  overflow: hidden;
  width: 100%;
}

.dropdown-item {
  display: flex;
  padding: 0.5rem;
  gap: 0.75rem;
  align-items: center;
  border-radius: 0.25rem;
  width: 100%;
  min-width: fit-content;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown-item:hover {
  background-color: #f3f4f6;
}

.selected-dropdown-item {
  background-color: #f3f4f6;
}

.dropdown-btn svg {
  margin-top: 0.25rem;
}

.divider {
  height: 100%;
  width: 1px;
  background-color: #f5f4f4;
}
