@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary: #7c0c6f;
  --gray: #f5f4f4;
  --red: #fa7784;
  --green: #54e0b7;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.disabled {
  cursor: not-allowed !important;
  color: var(--gray) !important;
}

.w-full {
  width: 100% !important;
}

.header {
  padding: 0 3rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.tabs {
  display: flex;
  column-gap: 1.5rem;
}

.tab {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tab:hover {
  color: var(--primary);
}

.active-tab {
  border-bottom: 3px solid var(--primary);
  color: var(--primary);
  font-weight: 600;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

.filter-section .filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 70%;
}

.filter-section .search {
  width: 21%;
}

.input-container {
  position: relative;
  width: 100%;
}

.input {
  outline: none;
  border-radius: 5px;
  padding: 0.8rem;
  border: 2px solid #f5f4f4;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

.input:focus {
  outline: none;
}

.container {
  padding: 3rem;
}

.icon {
  position: absolute;
  top: 0.8rem;
  left: 2rem;
  color: #acacac;
}

.pl-4 {
  padding-left: 4rem;
}

.relative {
  position: relative;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0.7rem;
  border: 2px solid var(--gray);
  border-radius: 12px;
  width: 300px;
  max-height: 400px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-details {
  display: flex;
  align-items: center;
  gap: 0.25rem 0.5rem;
  padding: 1rem 0 0 0;
}

.img {
  border-radius: 100%;
  object-fit: cover;
}

.card-details .info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem 0;
}

.card-details .id {
  font-size: 12px;
  color: #d1d0d0;
}

.card-details .name {
  font-size: 16px;
}

.card-details .position {
  font-size: 14px;
  color: #b9b9b9;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #eeeeeea8;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  height: 40px;
}

.card-footer .actions {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}

.card-footer p {
  font-size: 15px;
}

.card-footer .actions .btn {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.card-footer .actions .btn .trash {
  color: var(--red);
}

.card-footer .actions .btn .edit {
  color: var(--green);
}

.card-footer .actions .btn .view {
  color: var(--primary);
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 0.8rem;
  margin-top: 2rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page {
  border: 2px solid var(--gray);
  border-radius: 5px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 5px;
  transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}

.page.active {
  background-color: var(--primary);
  color: #fff;
}

.new-document-btn {
  display: flex;
  cursor: pointer;
  border: 1px solid var(--primary);
  align-items: center;
  gap: 0 0.7rem;
  color: #ebebeb;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--primary);
  text-transform: uppercase;
  padding: 0.9rem;
  transition: all 0.3s ease-in-out;
}

.new-document-btn:hover {
  color: var(--primary);
  background-color: #fff;
}

.dropdown-btn {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  outline-style: none;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  background-color: transparent;
  width: 100%;
  border: 2px solid #f5f4f4;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  gap: 0 0.5rem;
  padding: 0 1rem;
  text-transform: uppercase;
  width: fit-content;
}

.dropdown-btn .divider {
  height: 100%;
  width: 1px;
  background: var(--gray);
}

.bulk-import-btn {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.375rem;
  outline-style: none;
  color: var(--green);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  background-color: transparent;
  width: 100%;
  border: 2px dotted var(--green);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  gap: 0 0.5rem;
  padding: 0 1rem;
  text-transform: uppercase;
  width: fit-content;
}

.view-modal-container {
  display: block;
}

.view-modal-container .body {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.view-modal-container .body .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.view-modal-container .body svg {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 10;
}

.view-modal-container .body .details .info {
  color: var(--red);
}

.view-modal-container .body .details .check {
  color: var(--green);
}

.view-modal-container .body .details h2,
h3 {
  margin: 5px 0;
}

.view-modal-container .footer {
  display: flex;
  justify-content: flex-end;
}

.footer .close-btn {
  background-color: #fff;
  color: var(--red);
  cursor: pointer;
  border: 2px solid var(--red);
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
}

@media (max-width: 720px) {
  .filter-section .filters {
    width: 100%;
  }
  .filter-section .search {
    width: 85%;
  }

  .container {
    padding: 0.5rem;
  }
}
